<form>
  <div class="mb-4">
    <div class="text-start">
      <label>Area</label>
    </div>
    <select class="form-select" aria-label="Select an area">
      <option selected disabled>Select an area</option>
      <option value="1">General Practitioner</option>
      <option value="2">Physiotherapist</option>
      <option value="3">Cardiologist</option>
    </select>
  </div>

  <div class="mb-4">
    <div class="text-start">
      <label>Professional:</label>
    </div>
    <select class="form-select" aria-label="Select a professional">
      <option selected disabled>Select a professional</option>
      <option value="1">Dr. Anna Brown</option>
      <option value="2">Dr. Ralph Williams</option>
    </select>
  </div>

  <div class="mb-4">
    <div class="text-start">
      <label>Appointment Type:</label>
    </div>
    <select class="form-select" aria-label="Select an appointment type">
      <option selected disabled>Select an appointment type</option>
      <option value="1">Private</option>
      <option value="2">Municipal Insurance</option>
      <option value="3">Health Insurance</option>
    </select>
  </div>

  <div class="mb-4">
    <div class="text-start">
      <label>Select or enter the client’s name:</label>
    </div>
    <div class="input-group">
      <input class="form-control" type="text" value="" aria-label="readonly input example">
    </div>
    <div class="text-start">
      <small>Confirm client phone number: +1 (415) 555-0137</small>
    </div>
  </div>

  <div class="mb-4">
    <div class="text-start">
      <label>Notes</label>
    </div>
    <textarea class="form-control" id="floatingTextarea"></textarea>
  </div>
</form>