<form class="px-5">
  <div class="mb-4 text-start">
    <label for="name" class="form-label">Name:</label>
    <input type="name" class="form-control" id="name" placeholder="Client name">
    <div class="text-danger">
      <small><sup>*</sup>Name is required</small>
    </div>
  </div>

  <div class="row mb-4">
    <div class="col-6 text-start">
      <label for="phoneNumber" class="form-label">Phone number:</label>
      <input type="text" class="form-control" id="phoneNumber" placeholder="Phone number">
      <div class="text-danger">
        <small><sup>*</sup>Phone number is required</small>
      </div>
    </div>

    <div class="col-6 text-start">
      <label for="dateOfBirth" class="form-label">Date of Birth:</label>
      <input type="date" class="form-control" id="dateOfBirth" placeholder="Client Date of Birth">
      <div class="text-danger">
        <small><sup>*</sup>Date of Birth is required</small>
      </div>
    </div>
  </div>

  <div class="text-end">
    <a href="/prototype/pages/clients.html" class="btn btn-secondary me-1">Cancel</a>
    <a href="/prototype/pages/clients.html" class="btn btn-primary">Save</a>
  </div>
</form>