<form>
  <div class="mb-4">
    <label for="name" class="form-label">Name:</label>
    <input type="name" class="form-control" id="name" placeholder="Professional name">
    <div class="text-danger">
      <small><sup>*</sup>Name is required</small>
    </div>
  </div>

  <div class="row mb-4 justify-content-center align-items-start">
    <div class="col-6">
      <label for="phoneNumber" class="form-label">Phone number:</label>
      <input type="text" class="form-control" id="phoneNumber" placeholder="Phone number">
      <div class="text-danger">
        <small><sup>*</sup>Phone number is required</small>
      </div>
    </div>

    <div class="col-5 offset-1">
      <label class="form-label">Active status:</label>
      <div class="d-flex gap-3">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="activeStatus" id="activeYes" checked>
          <label class="form-check-label" for="activeYes">Active</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="activeStatus" id="activeNo">
          <label class="form-check-label" for="activeNo">Inactive</label>
        </div>
      </div>
    </div>
  </div>

  <div class="mb-4">
    <label class="form-label">Areas:</label>
    <div class="d-flex flex-column gap-2">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="area1">
        <label class="form-check-label" for="area1">
          General Practitioner
        </label>
      </div>

      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="area2">
        <label class="form-check-label" for="area2">
          Physiotherapist
        </label>
      </div>

      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="area3">
        <label class="form-check-label" for="area3">
          Cardiologist
        </label>
      </div>
    </div>
  </div>

  <div class="text-end">
    <a href="/prototype/pages/professionals.html" class="btn btn-secondary me-1">Cancel</a>
    <a href="/prototype/pages/professionals.html" class="btn btn-primary">Save</a>
  </div>
</form>