<a href="/prototype/pages/createAppointment.html" class="text-decoration-none">
  <button class="card text-start shadow-sm rounded-3">
    <div class="card-body">
      <div class="row">
        <img class="col-2 p-0" src="/prototype/components/homeCards/svg/clipboard2-check-fill.svg" height="20"
          width="20" alt="">
        <h6 class="col-10 mb-1 p-0">Schedule Appointment</h6>
      </div>
      <div class="small text-muted mb-2">
        <div><strong>Area:</strong> Orthopedics</div>
        <div><strong>Professional:</strong> Dr. Roberto Almeida</div>
      </div>
    </div>
  </button>
</a>