<div class="mt-4">
  <div class="input-group mb-3">
    <button class="btn btn-outline-light px-3 border" type="button">
      <img src="/prototype/components/appointmentTypeTable/svg/search.svg" width="20" height="20" alt="Search appointment type">
    </button>
    <input class="form-control" placeholder="Search appointment type" aria-label="Search appointment type">
  </div>
  <table class="table table-bordered table-hover">
    <thead class="table-light">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Type</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      <tr>
        <th scope="row">1</th>
        <td>
          <a href="/prototype/pages/appointmentType.html">Private</a>
        </td>
        <td>
          <img src="/prototype/components/appointmentTypeTable/svg/trash3-fill.svg" width="20" height="20" alt="Delete area">
        </td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>
          <a href="/prototype/pages/appointmentType.html">Municipal Insurance</a>
        </td>
        <td>
          <img src="/prototype/components/appointmentTypeTable/svg/trash3-fill.svg" width="20" height="20" alt="Delete area">
        </td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>
          <a href="/prototype/pages/appointmentType.html">Health Insurance</a>
        </td>
        <td>
          <img src="/prototype/components/appointmentTypeTable/svg/trash3-fill.svg" width="20" height="20" alt="Delete area">
        </td>
      </tr>
    </tbody>
  </table>

  <div id="paginator"></div>
</div>

<script>
  $(function () {
    $("#paginator").load("../components/paginator/paginator.html");
  })
</script>